.slider_area .single_slider {
  position: relative;
  z-index: 0;
  height: 900px;
  background-image: url("../images/banner.png.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.slider_area .single_slider::before {
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url("../images/pixels-ww.png");
  width: 724px;
  height: 767px;
  content: "";
}
.slider_area .single_slider .shap_pattern {
  position: absolute;
  right: 20%;
  bottom: 0;
}
.slider_area .single_slider .social_links {
  position: absolute;
  right: 100px;
  z-index: 999;
  top: 50%;
  transform: translateY(-50%);
}
.slider_area .single_slider .social_links li {
  display: block;
  margin-bottom: 15px;
}
.slider_area .single_slider .social_links li a {
  width: 40px;
  height: 40px;
  display: inline-block;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.05);
  color: #fff;
  font-size: 15px;
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.slider_area .single_slider .social_links li a::before {
  background: #615cfd;
  background: linear-gradient(to bottom, #615cfd 0%, #d465ef 100%);
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  content: "";
  z-index: -1;
  opacity: 1;
  transform: scale(1.2);
  transition: 0.3s;
}

.slider_area .single_slider .slider_text h3 {
  color: #fff;
  font-size: 80px;
  text-transform: capitalize;
  font-weight: 700;
  line-height: 82px;
  margin-bottom: 9px;
    position: relative;
      z-index: 1;
}
.slider_area .single_slider .slider_text span {
    font-size: 30px;
    font-weight: 400;
    color: #FFFFFF;
    position: relative;
    z-index: 1;
}
.slider_area .single_slider .slider_text span::before {
    position: absolute;
    background: #fff;
    width: 50px;
    height: 2px;
    content: '';
    left: -67px;
    top: 50%;
    margin-bottom: -1px;
}
.slider_area .single_slider::after {
    position: absolute;
    top: 0;
    right: 0;
    background-image: url("../images/cirlcle.png.webp");
    width: 531px;
    height: 504px;
    content: '';
    z-index: -2;
}
@media (max-width: 767px) {
  .slider_area .single_slider {
    height: 500px;
  }
  .slider_area .single_slider::before {
    width: 314px;
    height: 300px;
    content: "";
    background-size: cover;
  }
  .slider_area .single_slider .social_links {
    display: none;
  }
  .slider_area .single_slider .slider_text h3 {
    font-size: 30px;
    line-height: 35px;
  }
}
