.portfolio-section {
  padding: 70px 0;
}
.portfolio-section .title {
    font-weight: 500;
    font-size: 36px;
    color: #000000;
} 
.portfolio-section .title span {
    color: #96bb7c;
} 


/* Showcase Card styling */
.portfolio-section .portfolio-item .card {
    background-size: cover;
    background-position: center;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 20px 0px 20px;
    --e-column-margin-right: 20px;
    --e-column-margin-left: 20px;
    padding: 250px 20px 50px 30px;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    align-content: flex-start;
}
.portfolio-section .portfolio-item .card .background-overlay{
    transition: background 0.5s, border-radius 0.3s, opacity 0.5s;
    background-color: transparent;
    background-image: linear-gradient(360deg, #000000 40%, #00000000 65%);
    opacity: 0.7;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}
.portfolio-section .portfolio-item .card:hover .background-overlay{
    background-color: transparent;
    background-image: linear-gradient(180deg, #475746 0%, #96bb7c 100%);
    opacity: 0.5;
}

.portfolio-item img{
    max-height: 400px;
}
.portfolio-section .card .card-img-overlay {
    z-index: 2;
    margin-block-end: 20px;
}
.portfolio-section h5 {
    font-size: calc(1.275rem + 0.3vw);
    font-weight: 500;
    color: #ffffff;
    white-space: pre-line;
}
.portfolio-section .btn-white {
    background: #96bb7c;
    color: #fff;
    font-family: "Poppins", Sans-serif;
    font-weight: 500;
    background-color: #96bb7c;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #96bb7c;
    padding: 10px 15px ;
    margin-top: 10px;
}
.portfolio-section .btn-white:hover {
    color: #FFFFFF;
    background-color: #00000000;
    border-color: #FFFFFF;
}
