.portfolio-section {
  padding: 70px 0;
}
.portfolio-section .display-5 {
    font-weight: 500;
} 


/* Showcase Card styling */
.portfolio-section .card {
    --bs-card-title-color: #202124;
    --bs-card-subtitle-color: ;
    --bs-card-border-width: 0;
    --bs-card-border-color: #dce0e5
    --bs-card-border-radius: 0.4rem;
    --bs-card-box-shadow: ;
    --bs-card-inner-border-radius: 0.4rem;
    --bs-card-cap-padding-y: 1.25rem;
    --bs-card-cap-padding-x: 1.25rem;
    --bs-card-cap-bg: #fff;
    --bs-card-cap-color: ;
    --bs-card-height: ;
    --bs-card-color: #606261;
    --bs-card-bg: #606261;
    color: #606261;
    background-color: #fff;
    border: var(--bs-card-border-width) solid #dce0e5;
    border-radius: .4rem;
}
.portfolio-section .card.overflow-hidden, .tiny-slider.overflow-hidden {
    will-change: transform;
}
.portfolio-section .card.card-img-scale .card-img-scale-wrapper {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    position: relative;
    overflow: hidden;
}
/* Initially hide the overlay and set transition properties */
.portfolio-section .card.card-element-hover .hover-element {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    z-index: 9;
}
/* Show the overlay and adjust opacity when hovering over the card */
.portfolio-section .card.card-element-hover:hover .hover-element {
    visibility: visible;
    opacity: 1;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.portfolio-section .card .card-img-overlay {
    z-index: 2;
}
.portfolio-section h5 {
    font-size: calc(1.275rem + 0.3vw);
    font-weight: 700;
    color: #96bb7c;
}
.portfolio-section .btn-white {
    background: #96bb7c;
    color: #fff;
}
.portfolio-section .card.card-img-scale .img-scale {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform: scale(1.001);
    transform: scale(1.001);
}

.portfolio-section .card.card-element-hover .card-text, .card.card-element-hover img {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
/* Scale and blur the image when hovering over the card */
.portfolio-section .card.card-img-blur:hover .img-blur {
    -webkit-filter: blur(5px);
    filter: blur(5px);
}

.portfolio-section .card.card-img-scale:hover .img-scale {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}