@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Poppins:wght@400;500;600&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  background-color: rgb(21, 21, 21);
  color: rgb(254, 254, 254);
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  max-height: 100vh;
  max-width: 100vw;
}
.container {
  margin: 0 auto;
  padding: 0 32px;
  max-width: 1024px;
}
header {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  position: relative;
  padding: 20px 0;
  z-index: 1;
}
p {
  color: rgb(187, 187, 187);
  line-height: 1.8;
}
.social {
  display: flex;
}
.social a {
  color: rgb(254, 254, 254);
}
.social li {
  list-style-type: none;
  margin-right: 35px;
}
.about {
  display: flex;
  position: relative;
  bottom: 110px;
  height: 600px;
}
.about-content {
  width: 100%;
}
.about-content h1 {
  font-size: 4rem;
  margin-top: 150px;
  margin-bottom: 80px;
}
.about-content span {
  text-decoration: underline rgb(78, 224, 160) !important;
  text-underline-offset: 20px !important;
}
.about-content p {
  padding-right: 250px;
  margin-bottom: 80px;
}
.about-content a {
  font-size: small;
  text-decoration: underline rgb(78, 224, 160) !important;
  text-underline-offset: 10px !important;
  color: rgb(254, 254, 254);
  font-weight: 500;
}
.about img {
  width: 400px;
  background-color: rgb(36,36,36);
}
.skill-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 15px;
  margin: 25px 0 60px 0;
}

.skill-container h2 {
  font-size: 2.2rem;
  padding: 20px 0;
}
.hori {
  border: none;
}

.project-section {
  margin: 50px 0;
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-header h1 {
  font-size: 4rem;
}

.project-header a {
  font-size: small;
  text-decoration: underline rgb(78, 224, 160) !important;
  text-underline-offset: 10px !important;
  color: rgb(254, 254, 254);
  font-weight: 500;
}

.project-container {
  display: grid;
  grid-template-columns: 467.5px 467.5px;
  gap: 25px;
  margin: 50px 0;
}

.project-container img {
  margin-bottom: 20px;
  width: 100%;
  height: 300px;
}
.project-container a {
  text-decoration: none;
  color: rgb(254, 254, 254);
}
.project-container a:hover {
  color: rgb(78, 224, 160);
}

.project-container .project-grid ul {
  display: flex;
  margin-top: 20px;
  list-style-type: none;
}
.project-container .project-grid li {
  margin-right: 30px;
  color: rgb(187, 187, 187);
}
.project-grid {
  margin-bottom: 20px;
}
footer {
  background-color: #242424;
}
.footer-container {
  margin: 0 auto;
  padding: 0 32px;
  max-width: 1024px;
}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  margin-bottom: 70px;
}
.contact-content-left {
  width: 50%;
  padding-right: 100px;
}
.contact-content-left h1 {
  font-size: 4rem;
  margin-bottom: 30px;
}

.contact-content-right {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-left: 100px;
}

.contact-content-right label {
  font-size: 0.8rem;
  padding-left: 20px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid rgb(187, 187, 187);
  background: none;
  color: rgb(187, 187, 187);
  resize: none;
}

.errorMessage { 
  font-size: .7rem;
  margin: 5px 0 10px 0;
  color: red;
}


.contact-content-right button {
  border: none;
  outline: none;
  background: none;
  margin-top: 30px;
  font-size: small;
  font-weight: bold;
  text-align: end;
  color: rgb(187, 187, 187);
  text-decoration: underline rgb(78, 224, 160) !important;
  text-underline-offset: 10px !important;
}

.footer-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0 50px 0;
}

.footer-social {
  display: flex;
  list-style-type: none;
  text-align: center;
}
.footer-social a {
  text-decoration: none;
  color: rgb(254, 254, 254);
}

.footer-social li {
  margin-left: 20px;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 20px;
  }
  header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  .social {
    margin-top: 30px;
    padding-left: 0;
  }
  .social li {
    margin-left: 0;
    margin-right: 25px;
  }

  .about {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    bottom: 60px;
    height: 100%;
    margin-bottom: 50px;
  }
  .about img {
    width: 281px;
    height: 400px;
    background-color: rgb(36,36,36);
  }
  .about-content {
    text-align: center;
  }
  .about-content h1 {
    font-size: 2.2rem;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .about-content span {
    text-decoration: underline rgb(78, 224, 160) !important;
    text-underline-offset: 10px !important;
  }
  .about-content p {
    padding-right: 0;
    line-height: 1.5;
    margin-bottom: 40px;
  }
  .about-content a {
    text-decoration: underline rgb(78, 224, 160) !important;
    text-underline-offset: 10px;
  }
  .skill-container {
    grid-template-columns: auto;
    gap: 15px;
    margin: 40px 0;
  }
  .skill-container > div {
    text-align: center;
  }
  .skill-container h2 {
    padding: 15px 0;
    font-size: 2rem;
  }
  .hori {
    border: 1px inset;
    margin-bottom: 70px;
  }
  .project-header h1 {
    font-size: 2.5rem;
  }
  .project-header a {
    font-size: medium;
    font-weight: 600;
  }
  .project-container {
    display: grid;
    grid-template-columns: auto;
    gap: 25px;
    margin: 50px 0;
  }

  .project-container .project-grid li {
    font-size: small;
  }
  .project-grid {
    margin-bottom: 20px;
  }
  .view {
    display: flex;
    list-style-type: none;
    margin-top: 20px;
    margin-right: 30px;
  }
  .project-container .project-grid .view li {
    font-weight: bold;
    text-decoration: underline 2px solid rgb(78, 224, 160) !important;
    text-underline-offset: 10px !important;
    color: rgb(254, 254, 254);
  }

  /* footer styling */
  .footer-container {
    padding: 0 20px;
  }
  .footer-wrapper {
    padding-top: 40px;
  }
  .contact-content h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .footer-wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    margin-bottom: 70px;
  }
  .contact-content-left {
    text-align: center;
    width: 100%;
    padding-right: 0;
  }
  .contact-content-left h1 {
    font-size: 2.5rem;
    margin-bottom: 25px;
  }
  
  .contact-content-right {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 100%;
    padding-left: 0;
  }

  .contact-content-right button {
    border: none;
    outline: none;
    background: none;
    margin-top: 30px;
    font-size: small;
    font-weight: bold;
    text-align: end;
    color: rgb(187, 187, 187);
    text-decoration: underline rgb(78, 224, 160) !important;
    text-underline-offset: 10px !important;
  }
  
  
  .errorMessage { 
    font-size: .6rem;
    margin: 5px 0 10px 0;
    color: rgb(244, 17, 17);
  }
  
  .footer-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0 50px 0;
  }

  .footer-social {
    margin-top: 20px;
  }

  .footer-social li {
    margin-left: 0;
    margin-right: 20px;
  }

  .footer-social a{
    text-decoration: none;
    color:rgb(254, 254, 254)
  }
}
